<html>
	<head>
		<meta charset="utf-8" />
		<title>GCS | Done</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<div class="wrapper">
			<div class="inner">
				<p>You sent the data to <%= data.field1 %> Successfully!</p>
				<h1>Thanks You</h1>
			</div>
		</div>
	</body>
</html>
