<html>
	<head>
		<meta charset="utf-8" />
		<title>GCS | Create</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
	</head>

	<body>
		<div class="wrapper">
			<div class="inner">

				<form method="POST"" action="/share/create">
					<h3>Create Social Post</h3>					
					<p>
						Enter details for your Social Post below
					</p>
					<div>
						<label class="form-group">
							<input type="text" class="form-control" name="field1" required />
							<span>Field 1</span>
							<span class="border"></span>
						</label>
					</div>
					<div>
						<label class="form-group">
							<input type="text" class="form-control" name="field2" required />
							<span for="">Field 2</span>
							<span class="border"></span>
						</label>
					</div>
					<div>
						<label class="form-group">
							<textarea
								name="field3"
								id=""
								class="form-control"
								required
							></textarea>
							<span for="">Field 3</span>
							<span class="border"></span>
						</label>
					</div>
					<br></br>
					<button type="submit">
						Submit
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
